<?xml version="1.0" encoding="utf-8"?>
<manifest package="aau.med3.assassin"
    android:versionCode="1"
    android:versionName="1.1" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:name="aau.med3.assassin.AssassinGame"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="aau.med3.assassin.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="aau.med3.assassin.activities.SignUpActivity"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName="aau.med3.assassin.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aau.med3.assassin.activities.MainActivity" />
        </activity>
        <activity
            android:name="aau.med3.assassin.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="aau.med3.assassin.activities.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aau.med3.assassin.activities.MainActivity" />
        </activity>
        <activity
            android:name="aau.med3.assassin.activities.GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName="aau.med3.assassin.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aau.med3.assassin.activities.MainActivity" />
        </activity>
        <activity
            android:name="aau.med3.assassin.activities.UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:parentActivityName="aau.med3.assassin.activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="aau.med3.assassin.activities.MainActivity" />
        </activity>
    </application>

</manifest>